.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

.Topbar {
  width: 100%;
  height: 50px;
  margin: 0px;
  background-color: #293846 ;
}

.Sidebar{
  float: left;
  height: 100%;
  width: 250px;
  padding: 0px;
  margin: 0px;
  background-color: #2F4050;
}

.SideBarList{
  height: auto;
  padding: 0;
  width: 100%;
}

.SideBarList .row{
  width: 100%;
  height: 50px;
  border: 0px solid black;
  list-style-type: none;
  margin:0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  position: relative;
  top: 175px;
}

.SideBarList .row:hover{
  cursor: pointer;
  background-color: #293846;
}

.SideBarList #active {
  background-color: #293846;
}

.row #icon{
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title{
  flex: 70%;
}

.ProjSelect {
  width: 100%;
  background-color: lightgray;
  height: 75px;
}


.addButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  position: absolute;
  right: 10px;
  top: 60px;
}
.addButton:hover {
	background-color:#5cbf2a;
}

.selectProject{
  font-size: 17px;
  position: absolute;
  left: 275px;
  top: 70px;
  width: 250px;
  height: 35px;
}

.FormInputs{
  font-size:  25px;
  border: darkgray;
  border-style: solid;
  width: calc(100% - 310px);
  position:fixed;
  left: 280px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: white;
}



.FormInputs .MainTitle{
  position:fixed;
  left: 290px;
  background-color: #293846;
  color: white;
  font-size: 25px;
  width: 80%;
}

.FormInputs .InputsSection .InputLabel{
  display: inline-block;
  width: 250px;
  text-align: right;
  padding-right: 20px;
  padding-bottom: 30px;
}

.FormInputs .InputsSection{
  padding-top: 60px;
  padding-bottom: 30px;
  padding-left: 300px;
}





.NextButton {
	background-color:#2F4050;
	border-radius:28px;
	border:1px solid #2F4050;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  width: 150px;
  text-align: center;
  position: absolute;
right:    15px;
bottom:   15px;
}

.NextButton:hover {
	background-color:#5cbf2a;
  cursor: pointer;
  background-color: #293846;
}
